body{
    background-image: url("./assets/bg.png");
    background-size: cover;
}
.navbar{
    display: flex;
    background-color: #000000;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
}
.line{
    height: 60px;
    border-left: 2px solid #ffffff;
}
.list{
    display: flex;
    column-gap: 20px;
    list-style:none;
    
}
.list-item{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    right: 100px;
}
.button-small{
    background-color:#BF08C1;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.hero{
    text-align: center;
    display:flexbox;
    align-items: center;
}
.hero-heading{
    font-size:5rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 20ch;
    margin-left: 220px;
}
.hero-description{
    font-size: 1.85rem;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-top: -70px;
}
.button-large{
    background-color:#BF08C1;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.85rem;
    font-family: 'Poppins', sans-serif;
}